name = "backend"
main = "src/index.ts"
compatibility_date = "2024-10-11"
compatibility_flags = [ "nodejs_compat" ]

# [vars]
# MY_VAR = "my-variable"

# [[kv_namespaces]]
# binding = "MY_KV_NAMESPACE"
# id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# [[r2_buckets]]
# binding = "MY_BUCKET"
# bucket_name = "my-bucket"

# [[d1_databases]]
# binding = "DB"
# database_name = "my-database"
# database_id = ""

# [ai]
# binding = "AI"

# [observability]
# enabled = true
# head_sampling_rate = 1

[vars]
GITHUB_CLIENT_ID = "Ov23liJGYuKA3LiRH6AM"
GITHUB_CLIENT_SECRET = "74ef2c4ab8627e237f8bbd1a67870a0480a81672"
FRONTEND_URL="http://localhost:3000"
